openai
python-dotenv
ipython
pandas
jupyter
streamlit==1.41.1

langchain
pymongo
faiss-cpu
PyGithub
python-dotenv
requests
python-jose
typing-extensions
aiohttp
nest-asyncio
langchain
pymongo
PyGithub
python-dotenv

faiss-cpu


# Utilities and type checking
requests
python-jose
typing-extensions
pydantic

# Async support
aiohttp
aiosignal
async-timeout
attrs
charset-normalizer
multidict
yarl